.addHabitForm {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.habit-input {
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
}
.submit-button {
  width: 200px;
}
